.img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 0.6rem;
  border-radius: 10px;
}
.name {
  font-weight: bold;
  font-size: 18px;
}
.container {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
.containerName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem 0.5rem;
}
.card {
  background-color: aliceblue;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
}
.btn {
  padding: 0.3rem 0.5rem;
  background-color: dodgerblue;
  color: white;
}
