:root {
  --primary-color: #e0f2f1;
  --heading-color: #004d40;
  --white: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  margin: 1rem;
}
th,
tr,
td,
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 0.4rem 0.5rem;
}
.thead {
  background-color: var(--heading-color);
  color: var(--white);
}
tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}
@media screen and (max-width: 400px) {
  .thead {
    display: none;
  }
  table,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  td {
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.5rem;
  }
  td::before {
    content: attr(data-label);
  }
}
