.form {
  margin: 1rem;
}
.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputField {
  padding: 0.3rem 0.4rem;
  margin-bottom: 0.7rem;
}
.textarea {
  resize: none;
}
.radio {
  display: flex;
  gap: 5rem;
}
.radioLabel {
  text-wrap: nowrap;
}
.radioBtn {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 600px) {
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
  }
  .formGroupContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
