/* General section */
body {
  padding: 0;
  margin: 0;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem 1.5rem;
  margin: 2rem;
}
tbody tr:nth-child(odd) {
  background-color: red;
}
tbody tr:nth-child(even) {
  background-color: gray;
}
