body {
  box-sizing: border-box;
}
/* Input type checkbox id */
#check {
  display: none;
}

/* pop-up button */
.btn-label {
  background-color: var(--primary-color);
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.btn-label:hover {
  background-color: blue;
}

/* pop-up section logic */
#check:checked ~ .pop {
  display: block;
}

.pop {
  position: fixed;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: none;
  margin-top: 1rem;
  z-index: 999;
  width: 100%;
}
/* cross button */
.cross {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 0.5rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  box-shadow: 0 0 5px var(--shadow-color);
  border-radius: 3px;
}
.cross:hover,
.cross:focus {
  background-color: var(--cross-color);
  color: white;
}
.close:checked .pop {
  display: none;
}
