:root {
  --primary-color: #e0f2f1;
  --heading-color: #004d40;
  --btn-primary: dodgerblue;
  --btn-edit: lightgreen;
  --btn-delete: red;
  --btn-update: #999;
}
/* General section */
body {
  padding: 0;
  margin: 0;
  background-color: #555;
}
h1 {
  color: white;
}
table,
th,
td {
  border: 1px solid #b0bec5;
  border-collapse: collapse;
  padding: 1rem 1.5rem;
  margin: 2rem;
}
thead {
  background-color: var(--heading-color);
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}
tbody tr:nth-child(even) {
  background-color: white;
}

table {
  margin-top: 2rem;
}
th {
  white-space: nowrap;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="email"],
input[type="text"] {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  border: 1px solid black;
  /* outline: ; */
}
.form {
  margin: 1rem;
  display: flex;
  gap: 1rem;
}
.update-form {
  display: none;
}
.button-container {
  display: flex;
  gap: 0.5rem;
}
.btn {
  color: white;
  outline: 0;
  border: 0;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
.btn-submit {
  background-color: var(--btn-primary);
}
.btn-edit {
  background-color: var(--btn-edit);
}
.btn-update {
  background-color: var(--btn-update);
  display: none;
}
.btn-delete {
  background-color: var(--btn-delete);
}
@media screen and (max-width: 780px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  table {
    width: 100%;
  }
  thead {
    display: none;
  }

  td {
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  td::before {
    content: attr(data-label);
  }
}
